html{
    color: white;
    background: #000;
}
h1{
text-align: center;

}
#container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
}
.icon{
    color: rgb(0, 0, 0);
    width:100px;
    height:100px;
    border-radius: 50%;
    cursor:pointer;
}
.icon:hover{
    box-shadow: 0 0 5px 1px rgb(0, 89, 213);
}
